@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>


<div style ="margin-left: 50px">
    <h1>Mockups</h1>
    <ul>
        <li><a href="/Quiz/Quiz">Quiz</a></li>
        <li><a href="/Quiz/QuizResultFromIndex">Quiz Results</a></li>
    </ul>
</div>
